# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore the generated docs
docs

# ignore the coverage output files
coverage.info
coverage/*

# ignore NetBeans related stuff
/src/*/dist/
/src/*/build/
**/nbproject/private/
.dep.inc

# ignore externals
externals/**
