language: cpp
compiler: gcc
script: make

before_install:
# g++4.8.1
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq

install:
# g++4.8.1 and boost
- sudo apt-get install -qq g++-4.8
- export CC="gcc-4.8"
- export CXX="g++-4.8"
- sudo rm -f /usr/bin/g++
- sudo rm -f /usr/bin/gcc
- sudo ln -s /usr/bin/g++-4.8 /usr/bin/g++
- sudo ln -s /usr/bin/gcc-4.8 /usr/bin/gcc
- curl http://heanet.dl.sourceforge.net/project/boost/boost/1.57.0/boost_1_57_0.tar.bz2 -O
- tar xvfj boost_1_57_0.tar.bz2
- cd boost_1_57_0
- ./bootstrap.sh
- ./b2 install --prefix=/usr link=static
