language: cpp
compiler: gcc
script: make

before_install:
# g++4.8.1
- if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; fi
- sudo apt-get update -qq

install:
# g++4.8.1
- if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8"; fi
- sudo rm -f /usr/bin/g++
- sudo ln -s /usr/bin/g++-4.8 /usr/bin/g++
- sudo apt-get install libboost-all-dev
